<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
  <h2> <form  action= '/team' method= "POST">
    <label for= "name">Team Name:</label>
    <input type= "text" id= "name" name= "name">
    <br><br>

    <label for= "coach">Coach:</label>
    <input type= "text" id= "coach" name= "Coach">
    <br><br>

    <label for= 'pg'>Point Guard:</label>
    <input type= "text" id= "pg" name= "Point Guard">
    <br><br>

    <label for= "sg">Shooting Guard:</label>
    <input type= "text" id= "sg" name= "Shooting Guard">
    <br><br>

    <label for= "sf">Small Forward:</label>
    <input type="text" id="sf" name= "Small Foward">
    <br><br>

    <label for="pf">Power Forward:</label>
    <input type="text" id='pf' name="Power Forward">
    <br><br>

    <label for= "c">Center:</label>
    <input type="text" id='c' name="Center">
  
   <br><br><br>
    <input type="submit" value='Submit'>
 </form> </h2>

 </body>
</html>


